body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td
  margin 0
  padding 0
body
  font-size 12px
  font-family 'Microsoft YaHei'
  background #f5e5c1 url("./../assets/bgimg_top.jpg") 50% top scroll no-repeat
  background-size 100%
  color #272a30
a
  &:link
  &:visited
    color #14191e
    text-decoration none
body, html
  color #14191e
ol,ul,li
  list-style none
.clearfix
  zoom 1
  &:after
    content " "
    clear both
    display block
    overflow hidden
    font-size 0
    height 0
.left
  float left
.right
  float right
.margin-left-1
  margin-left 12px
.margin-left-2
  margin-left 24px
.margin-left-3
  margin-left 36px
.margin-left-4
  margin-left 48px

